.my-wave {
    fill: rgb(0, 174, 239);
}

.main-title h2,
.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>li.menu-item-has-children>a:hover:after,
.navbar .navbar-nav>li.menu-item-has-children>.sub-menu>li>a:hover,
.home .intro h3 span:before,
.about-me .about-info .personal-info p,
.skills .skills-content h3 i,
.skills .progress-container .percent,
.services .service .service-icon,
.resume .timeline ul li .timeline-content h4,
.portfolio .list-filter .active,
.portfolio .portfolio-content .item .overlay .icon-img,
.portfolio .portfolio-content .item .overlay .item-title h4,
.facts .fact-item h4,
.testimonials .client-details span,
.blog .post .post-content .post-title h4:hover,
.blog .post .post-content .post-info li a span:hover,
.light .blog .post .post-content .post-more,
.blog .post .post-content .post-more,
.contact .contact-box .title-box .icon-box,
.footer .copyright p a,
.page-title .content ul li a,
.blog .post .post-content .post-footer .post-tags ul li a:hover,
.blog .post .post-content .post-comments .post-comment .reply-btn,
.blog .blog-sidebar .sidebar-search .search-btn,
.blog .blog-sidebar .categories-list li a span,
.blog .blog-sidebar .categories-list li a:hover,
.blog .blog-sidebar .sidebar-posts .post-info h5 a:hover,
.blog .blog-sidebar .archives-list li a:hover {
    color: rgb(0, 174, 239);
}

.main-title h2:after,
.loading .sk-folding-cube .sk-cube:before,
.navbar .navbar-brand .brand-after,
.light .navbar .menu-toggle,
.about-me .about-info h3:before,
.services .service h4:after,
.resume .timeline ul li:before,
.testimonials .owl-theme .owl-dots .owl-dot.active span,
.testimonials .owl-theme .owl-dots .owl-dot:hover span,
.blog .post-img .post-category a,
.blog .post .post-content .post-more:before,
.footer .logo span,
.footer .footer-social-icons li a:hover,
.scroll-top,
.blog .post .post-content .post-footer .post-share ul li a i:hover,
.blog .blog-sidebar .tags-list li a:hover {
    background: rgb(0, 174, 239);
}

.main-btn {
    background: rgb(0, 174, 239);
    border: 2px solid rgb(0, 174, 239);
}

.main-btn:hover {
    border: 2px solid rgb(0, 174, 239);
    color: rgb(0, 174, 239);
}

.navbar .menu-toggle {
    background: linear-gradient(120deg, rgb(0, 174, 239) 20%, #666 100%);
    border: 1px solid rgb(0, 174, 239);
}

.navbar .navbar-nav>li>a:before {
    background: rgb(0, 174, 239) !important;
}

.skills .progress-container .progress .progress-bar {
    background-color: rgb(0, 174, 239);
}

.services .service h4:before {
    border-top: 1px dotted rgba(255, 105, 19, .7);
}

.blog .post {
    border-bottom: 2px solid rgb(0, 174, 239);
}

.footer .footer-social-icons li a,
.blog .post .post-content .post-footer .post-share ul li a i,
.blog .post .post-content .post-form .form-control:focus,
.blog .blog-sidebar .sidebar-search .form-control:focus {
    border: 1px solid rgb(0, 174, 239);
}

.portfolio .list-filter li:before {
    background-color: rgb(0, 174, 239);
}

.light .portfolio .portfolio-content .item .overlay {
    background: rgba(255, 105, 19, .9);
}

.testimonials .owl-theme .owl-dots .owl-dot.active span {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 105, 19, .6);
    box-shadow: 0 0 0 0 rgba(255, 105, 19, .6);
}

@-webkit-keyframes pulse {
    to {
        -webkit-box-shadow: 0 0 0 7px rgba(255, 105, 19, 0);
        box-shadow: 0 0 0 7px rgba(255, 105, 19, 0);
    }
}

@keyframes pulse {
    to {
        -webkit-box-shadow: 0 0 0 7px rgba(255, 105, 19, 0);
        box-shadow: 0 0 0 7px rgba(255, 105, 19, 0);
    }
}

.contact .contact-form .form-group .form-control:focus {
    border: 1px solid rgb(0, 174, 239);
}

@media (max-width: 767.98px) {

    .navbar .navbar-links .navbar-nav>li.nav-brand a .brand-after {
        background: rgb(0, 174, 239);
    }

    .navbar .navbar-nav>li:not(.nav-brand)>a:hover,
    .light .navbar .navbar-nav>li:not(.nav-brand)>a:hover {
        color: rgb(0, 174, 239);
    }

    .navbar .navbar-nav>li>a.active,
    .light .navbar .navbar-nav>li>a.active,
    .light .navbar.active-nav .navbar-nav>li>a.active {
        color: rgb(0, 174, 239);
    }

}

@media (max-width: 991.98px) {
    .light .navbar .navbar-nav>li:not(.nav-brand)>a:hover {
        color: rgb(0, 174, 239);
    }
}